<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Flights Info Page</title>
</head>

<body>
<header>
    <div th:replace="fragments/header :: header-css"></div>
</header>

<div th:replace="fragments/header :: header"></div>

<div class="container">

    <div class="starter-template">

            <h3>Flights for <a th:text="${day}">: </a>
                <span th:text="${#temporals.format(dateTime, 'd/M/yyyy, HH:mm:ss')}"></span>
            </h3>

        <div th:if="${not #lists.isEmpty(flights)}">
            <table class="table table-striped">
                <tr>
                    <th>Status:</th>
                    <th>Flight Number:</th>
                    <th>Departure Time:</th>
                    <th>Destination:</th>
                    <th>Destination Airport:</th>
                </tr>
                <tr th:each="flight : ${flights}">
                    <td th:text="${flight.isDeparted}"></td>
                    <td th:text="${flight.flightNumber}"></td>
                    <td th:text="${flight.departureTime}"></td>
                    <td th:text="${flight.destination}"></td>
                    <td th:text="${flight.destinationAirport}"></td>
                </tr>
            </table>
        </div>
    </div>

</div>
<!-- /.container -->

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>